<div class="form-modal modal">
  <div class="modal-window">
    <h2>
      <span class="webfont">Forgot your password?</span>
    </h2>
    <p class="callout">
      It happens to the best of us.
    </p>
    <form action="https://teuxdeux.com/forgot-password" method="POST">
      <input type="hidden" name="authenticity_token" value="2c03f2bce702602ba226d7635b1c8a4f">
      <table>
        <tbody><tr>
          <td class="form-label-cell">
            <label for="email-input">email</label>
          </td>
          <td class="form-input-cell">
            <input autocomplete="off" autofocus="autofocus" id="email-input" name="email" required="required" type="email">
          </td>
        </tr>
        </tbody></table>
      <div class="form-footer">
        <p>
          Just remembered?
          <a routerLink="/login" routerLinkActive="active">Log in</a>
        </p>
        <div class="button-group">
          <button class="primary-button button" type="submit">Send Help</button>
        </div>
      </div>
    </form>
  </div>
</div>
